services:
  - type: web
    name: hpbd-backend
    env: java
    plan: free
    region: singapore
    buildCommand: mvn clean package -DskipTests
    startCommand: java -jar target/hpbd-backend-1.0.0.jar
    envVars:
      - key: PORT
        value: 8080
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SHOW_SQL
        value: false
      - key: FORMAT_SQL
        value: false
      - key: ALLOWED_ORIGINS
        value: "*"
      - key: CLOUDINARY_CLOUD_NAME
        value: dclomtdc3
      - key: CLOUDINARY_API_KEY
        value: 697821664471255
      - key: CLOUDINARY_API_SECRET
        value: M8y-hV7I_KlARcgK3VuaITkl8-4
      - key: DATABASE_URL
        fromDatabase:
          name: birthday-db
          property: connectionString
      - key: DATABASE_USER
        fromDatabase:
          name: birthday-db
          property: user
      - key: DATABASE_PASSWORD
        fromDatabase:
          name: birthday-db
          property: password
      - key: DB_DRIVER
        value: org.postgresql.Driver
      - key: DB_DIALECT
        value: org.hibernate.dialect.PostgreSQLDialect
      # Bật auto-create schema khi database sẵn sàng
      - key: SPRING_JPA_HIBERNATE_DDL_AUTO
        value: update

databases:
  - name: birthday-db
    plan: free
    databaseName: birthday_db
    user: birthday_user
    region: singapore

